
.filetree .controls {
  margin-bottom: .5em !important;
}

.filetree .controls li {
  display: inline !important;
  padding-right: .5em !important;
}

.filetree .folder {
  margin: 0 !important;
  cursor: pointer !important;
}

.filetree .files ul {
  padding-left: 0 !important;
}

.filetree .files li {
  background: url(images/file.png) no-repeat left top !important;
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.filetree .files li.folder,
.filetree .files a {
  padding-left: 20px !important;
}

/* icons */

.filetree li.application {
  background-image: url(images/application.png) !important;
}

.filetree li.code {
  background-image: url(images/code.png) !important;
}

.filetree li.css {
  background-image: url(images/css.png) !important;
}

.filetree li.db {
  background-image: url(images/db.png) !important;
}

.filetree li.doc {
  background-image: url(images/doc.png) !important;
}

.filetree li.film {
  background-image: url(images/film.png) !important;
}

.filetree li.flash {
  background-image: url(images/flash.png) !important;
}

.filetree li.folder {
  background-image: url(images/folder.png) !important;
}

.filetree li.expanded {
  background-image: url(images/folder_open.png) !important;
}

.filetree li.html {
  background-image: url(images/html.png) !important;
}

.filetree li.java {
  background-image: url(images/java.png) !important;
}

.filetree li.linux {
  background-image: url(images/linux.png) !important;
}

.filetree li.music {
  background-image: url(images/music.png) !important;
}

.filetree li.pdf {
  background-image: url(images/pdf.png) !important;
}

.filetree li.php {
  background-image: url(images/php.png) !important;
}

.filetree li.image {
  background-image: url(images/image.png) !important;
}

.filetree li.ppt {
  background-image: url(images/ppt.png) !important;
}

.filetree li.psd {
  background-image: url(images/psd.png) !important;
}

.filetree li.ruby {
  background-image: url(images/ruby.png) !important;
}

.filetree li.script {
  background-image: url(images/script.png) !important;
}

.filetree li.txt {
  background-image: url(images/txt.png) !important;
}

.filetree li.xls {
  background-image: url(images/xls.png) !important;
}

.filetree li.zip {
  background-image: url(images/zip.png) !important;
}
